<template data-sly-template.variant="${@ componentProperties, componentFields, requestedFields}">
    <a class="card ${componentProperties.badgeClassAttr}"
       href="${componentProperties.pageUrl}"
       target="${componentProperties.badgeLinkTarget}"
       title="${componentProperties.badgeLinkTitle}"
       data-sly-attribute="${componentProperties.badgeLinkAttr @ context = 'unsafe'}">
        <sly data-sly-test="${'icon' in componentFields}">
            <sly data-sly-use.image="${componentFields['image'].path}"
                 data-sly-call="${image.field @ componentProperties=componentProperties}"></sly>
        </sly>
        <div class="card-body">
            <sly data-sly-use.printFields="template/default.html"
                 data-sly-call="${printFields.variant @ componentProperties=componentProperties, componentFields=componentFields, requestedFields=requestedFields}">
            </sly>
        </div>
    </a>
</template>

