<template data-sly-template.variant="${@ componentProperties, componentFields, requestedFields}">
    <div class="card ${componentProperties.badgeClassAttr @ context='attribute'}">
        <sly data-sly-test="${'image' in componentFields}">
            <sly data-sly-use.image="${componentFields['image'].path}"
                 data-sly-call="${image.field @ componentProperties=componentProperties}"></sly>
        </sly>

        <div class="card-body">
            <sly data-sly-list.requestedField="${requestedFields}">
                <sly data-sly-test="${requestedField in componentFields}">
                    <sly data-sly-use.child="${componentFields[requestedField].path}"
                         data-sly-call="${child.field @ componentProperties=componentProperties}"></sly>
                </sly>
            </sly>
        </div>
    </div>
</template>
