<template data-sly-template.variant="${@ componentProperties, componentFields, requestedFields}">
    <div class="card ${componentProperties.badgeClassAttr @ context='attribute'}">
        <div class="card-body">
            <sly data-sly-list.field="${componentFields}">
                <sly data-sly-test="${field in requestedFields}">
                    <sly data-sly-use.child="${componentFields[field].path}"
                         data-sly-call="${child.field @ componentProperties=componentProperties}"></sly>
                </sly>
            </sly>
        </div>
    </div>
</template>
