<template data-sly-template.variant="${@ componentProperties, componentFields, requestedFields}">
    <sly data-sly-list.field="${componentProperties.metaPropertyFields}" data-sly-unwrap>
        <sly data-sly-test="${componentProperties.metaPropertyFields[field]}">
            <meta property="${field}" content="${componentProperties.metaPropertyFields[field]}" />
        </sly>
    </sly>
    <link data-sly-test="${componentProperties.canonicalUrl}"
          rel="canonical" href="${componentProperties.canonicalUrl}"/>
</template>
