[submodule "aemdesign-aem-common"]
	path = aemdesign-aem-common
	url = git@gitlab.com:aem.design/aemdesign-aem-common.git
	branch = master
[submodule "aemdesign-aem-services"]
	path = aemdesign-aem-services
	url = git@gitlab.com:aem.design/aemdesign-aem-services.git
	branch = master
[submodule "aemdesign-aem-taglibs"]
	path = aemdesign-aem-taglibs
	url = git@gitlab.com:aem.design/aemdesign-aem-taglibs.git
	branch = master

