
.cq-social-twitter-widgets-div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cq-social-twitter-widgets-image {
    height:60px;
    background: left center no-repeat transparent url(../images/twitter.png);
}
