/*sitenav author style*/
#extra_nav,#site_nav {
    background: #2C3E50;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 0 -10px 10px 0 rgba(0,0,0,.75);
    box-shadow: 0 -10px 10px 0 rgba(0,0,0,.75);
}

#extra_nav > *,#site_nav > * {
    position: relative;
    display: table;
    z-index: 70;
}

#extra_nav > * > ul,#site_nav > * > ul {
    display: table-row;
}

#extra_nav > * > ul > li,#site_nav > * > ul > li {
    display: table-cell;
    font-family: ramblabold,Helvetica,Arial,"华文宋体",STSong,"新細明體",PMingLiU,sans-serif;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

#extra_nav > * > ul > li a,#site_nav > * > ul > li a {
    display: inline-block;
    color: #E9EBED;
    vertical-align: top;
    text-transform: uppercase;
    white-space: nowrap;
}

#top_header {
    background: #2C3E50;
    display: none;
}

#extra_nav > * > ul > li a {
    color: #fff;
    opacity: 1;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#extra_nav > * > ul > .active > a,#extra_nav > * > ul > li a.focus,#extra_nav > * > ul > li a:focus,#extra_nav > * > ul > li a:hover {
    color: #969FA8;
}

/*body > header {*/
    /*position: relative;*/
    /*!*margin-bottom: 40px;*!*/
/*}*/

#site_nav {
    background: #2C3E50;
    border-bottom: 1px solid #D8DFE6;
}

#site_nav > * > ul > li > a {
    opacity: 1;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#site_nav > * > ul > .active > a,#site_nav > * > ul > li > a a.focus,#site_nav > * > ul > li > a a:focus,#site_nav > * > ul > li > a a:hover {
    color: #969FA8;
}

#site_nav li a {
    opacity: 1;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.nav_preview {
    overflow: hidden;
    position: relative;
    margin-top: -1px;
}

.nav_preview .target {
    background: #E9EBED;
}

.nav_preview .target.active {
    display: block;
    height: auto;
}

.nav_preview ul,.nav_preview > * {
    overflow: hidden;
}

.nav_preview li {
    position: relative;
    overflow: hidden;
    width: 25%;
    vertical-align: top;
    margin-bottom: -1px;
    float: left;
}

.nav_preview li:after {
    content: "";
    /*position: absolute;*/
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #FFF;
    margin: 0 10px;
}

.nav_preview li a {
    display: inline-block;
    font-size: 14px;
    color: #2C3E50;
    padding: 10px;
    opacity: 1;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

/*side nav*/
.dropdown_nav.sidemenu {
    display: none !important;
}

.hidden {
    display: none !important;
}


/* aside */

#side h2,#side li a {
    font-family: ramblabold,Helvetica,Arial,"华文宋体",STSong,"新細明體",PMingLiU,sans-serif;
    font-size: 15px;
    line-height: 120%;
    text-align: right;
}

#side h2 {
    text-transform: uppercase;
    padding: 10px 10px 0;
}

#side h2 a {
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#side h2 a:focus,#side h2 a:hover {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: .5;
}

#side li a {
    display: inline-block;
    padding: 5px 10px;
}

#side > ul {
    padding: 10px 10px 0;
}

#side > ul:before {
    content: "";
    display: block;
    height: 30px;
    border-right: 1px solid #D8DFE6;
}

#side > ul > li {
    text-align: right;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: transparent #D8DFE6 transparent transparent;
}

#side > ul > li a {
    padding: 5px 10px;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

#side > ul > li a:focus,#side > ul > li a:hover {
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: .5;
}

#side > ul > li.active,#side > ul > li.focus {
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #D8DFE6 transparent #D8DFE6 #D8DFE6;
}

#side > ul li.active > a,#side > ul li.active > a:focus,#side > ul li.active > a:hover {
    color: #969FA8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(enabled = false)";
    opacity: 1;
}

#side ul ul li a {
    font-family: ramblaitalic,Helvetica,Arial,"华文宋体",STSong,"新細明體",PMingLiU,sans-serif;
}

#side ul {
    list-style: none;
}