/*contentblock - style*/

/*NORMAL*/



/*FLOATING*/

.floatingBox.left-float,
.floatingBox.right-float {
    z-index: 11;
    padding: 10px;
}

.floatingBox.left-float {
    padding-left: 0;
}
.floatingBox.right-float {
    padding-right: 0;
}

.floatingBox.left-float {
    float: left;
}

.floatingBox.right-float {
    float: right;
}


.floatingBox h6 {
    font-size: 13px;
    margin-bottom: 4px;
}

/* centering an image */

.floatingBox.middle-align .image {
    text-align: center;
}

.floatingBox.middle-align .image img,
.floatingBox.middle-align .image .img-wrapper {
    display: inline-block;
}

/* centering a table */

.floatingBox.middle-align .table {
    text-align: center;
}

.floatingBox.middle-align .table .tableStyle {
    display: inline-block;
}

/* centering iframes and (youtube) videos */

.floatingBox.middle-align iframe,
.floatingBox.middle-align .mediavideo {
    margin: 0 auto;
    display: block;
}

.floatingBox.left-align img,
.floatingBox.left-align table,
.floatingBox.left-align iframe,
.floatingBox.left-align .mediavideo {
    margin: 0 auto;
    display: block;
    float: left;
    clear: right;
}

.floatingBox.right-align img,
.floatingBox.right-align table,
.floatingBox.right-align iframe,
.floatingBox.right-align .mediavideo {
    margin: 0 auto;
    display: block;
    float: right;
    clear: left;
}

.page-icon {
    width: 1.5em;
    margin-right: 0.5em;
}