/*Breadcrumb*/

#breadcrumbs {
    overflow: hidden;
    padding: 0 10px 0 90px
}

#breadcrumbs ul {
    position: relative
}

#breadcrumbs ul:before {
    background-color: #2C3E50;
    background-image: url(http://www.westkowloon.hk/static/img/breadcrumbs.png);
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    top: 50%;
    left: -18px;
    margin-top: -6px;
    -webkit-border-radius: 13px;
    border-radius: 13px
}

#breadcrumbs li {
    display: inline-block;
    vertical-align: top;
    line-height: 100%
}

#breadcrumbs li a {
    position: relative;
    font-size: 12px;
    padding-left: 10px;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out
}

#breadcrumbs li a:focus,#breadcrumbs li a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: .5
}

#breadcrumbs li a:before {
    content: "/";
    position: absolute;
    left: 3px;
    top: 0;
    line-height: normal
}

#breadcrumbs li:first-child a {
    padding: 0
}

#breadcrumbs li:first-child a:before {
    display: none
}

#breadcrumbs ul:before {
    background-color: #CC9900;
}
#breadcrumbs li a {
    color: #916D00;
}