/**
 * aemdesign.author.css - specific author rules
 */

.cq-Editable-dom.cq-Editable-dom--container.article {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cq-Editable-dom:not(.responsivegrid):not([component]) {
  border: 2px solid rgba(0, 0, 0, 0.10);
  position: relative;
}

.cq-Editable-dom:not(.responsivegrid) + .cq-Editable-dom {
  margin-top: 30px;
}

.cq-Editable-dom > [component] {
  padding-left: 25px;
  padding-right: 25px;
  min-height: 20px;
}
