/*already included by pagelist*/

.imgLocRef2_module {
    overflow: hidden;
    clear: none;
    width: 100%;
    max-width: 220px;
    background-color: #e2e2e2;
    position: relative;
    margin: 10px;
    z-index: 1;
    padding: 0;
    display: inline-block;

}

.imgLocRef2_wrapper {
    height: 490px;
    width: 220px;
    opacity: 1;
    filter: none;
}

.imgLocRef2_body {
    overflow: hidden;
    padding: 10px;
    margin: 0px;
    background-position: 100% 0%;
    background-repeat: no-repeat;

}

.imgLocRef2_body h4 {

    font-size: 17px;
    color: #000000;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'ramblabold',Helvetica,Arial,'华文宋体','STSong','新細明體','PMingLiU',sans-serif;

}

.imgLocRef2_body h4 a {
    border-bottom: 1px solid #D73A4A;
}

.imgLocRef2_body p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;

}

.imgLocRef2_body a span {
    font-size: 90%;
    background-color: #000000;
    color: white;
    padding: 3px;
    display: inline-block;
    width: 50px;
    margin-top: 7px;
    text-align: center;
    font-family: 'ramblabold';
}
