/* aemdesign.css */

.source.info {
    font-weight: bold;
}

.source.code {
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: normal;
    border: 1px dashed #2f6fab;
    padding: 1em;
    margin: 5px;
    background-color: #f9f9f9;
    line-height: 1.1em;
    white-space: pre;
    margin: 1em 0px;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
