/*padding modifiers*/

.padding-top-plus-10 {
    padding-top: 10px;
}
.padding-top-plus-20 {
    padding-top: 20px;
}
.padding-top-plus-30 {
    padding-top: 30px;
}

.padding-bottom-plus-10 {
    padding-bottom: 10px;
}
.padding-bottom-plus-20 {
    padding-bottom: 20px;
}
.padding-bottom-plus-30 {
    padding-bottom: 30px;
}

.padding-left-plus-10 {
    padding-left: 10px;
}
.padding-left-plus-20 {
    padding-left: 20px;
}
.padding-left-plus-30 {
    padding-left: 30px;
}
.padding-left-plus-40 {
    padding-left: 40px;
}
.padding-left-plus-50 {
    padding-left: 50px;
}
.padding-left-plus-60 {
    padding-left: 60px;
}
.padding-left-plus-70 {
    padding-left: 70px;
}
.padding-left-plus-80 {
    padding-left: 80px;
}
.padding-left-plus-90 {
    padding-left: 90px;
}
.padding-left-plus-100 {
    padding-left: 100px;
}


.padding-right-plus-10 {
    padding-right: 10px;
}
.padding-right-plus-20 {
    padding-right: 20px;
}