<template data-sly-template.variant="${@ componentProperties, component}">
    <sly data-sly-test="${wcmmode.edit}">
        <button type="button" class="component badge badge-pill" data-toggle="modal" data-target="#componentbadge-${componentProperties.componentId}">
            ${component.component.title}
        </button>
        <div class="modal fade bd-example-modal-lg" id="componentbadge-${componentProperties.componentId}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">${component.component.title}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">View Source</th>
                                <td><a href="${component.resource.path}.html?wcmmode=disabled" class="btn btn-info" role="button" target="_blank">View Source</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Resource Type</th>
                                <td>${component.resource.resourceType}</td>
                            </tr>
                            <tr>
                                <th scope="row">Resource Name</th>
                                <td>${component.resource.name}</td>
                            </tr>
                            <tr>
                                <th scope="row">Resource Path</th>
                                <td>${component.resource.path}</td>
                            </tr>
                            <tr>
                                <th scope="row">Location</th>
                                <td>${originLocation}</td>
                            </tr>
                            <tr>
                                <th scope="row">Inherited</th>
                                <td>${isInherited}</td>
                            </tr>

                            <sly data-sly-list.myitem="${componentProperties}" data-sly-unwrap>
                                <sly data-sly-test="${componentProperties[myitem]}">
                                    <tr>
                                        <th scope="row">${myitem}</th>
                                        <td>${componentProperties[myitem]}</td>
                                    </tr>
                                </sly>
                            </sly>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </sly>
</template>
