<template data-sly-template.variant="${@ componentProperties, component, inheritParent}">
  <sly data-sly-test="${wcmmode.edit}">
    <sly data-sly-set.title="${component.component.title}"></sly>
    <sly data-sly-test="${inheritParent}" data-sly-set.suffix="${' Inherited'}"></sly>
    <sly data-sly-test="${inheritParent}" data-sly-set.suffixId="${'Inherited'}"></sly>
    <button type="button"
            class="component badge badge-pill"
            data-toggle="collapse"
            data-target="#componentbadge-${componentProperties.componentId}${suffixId}">
      ${title}${suffix}
    </button>

    <div class="collapse" id="componentbadge-${componentProperties.componentId}${suffixId}">
      <div class="card">
        <div class="card-header">
          <h5 id="componentbadge-${componentProperties.componentId}${suffixId}Label">${component.component.title}${suffix}</h5>
          <button type="button"
                  class="close"
                  aria-label="Close"
                  data-toggle="collapse"
                  data-target="#componentbadge-${componentProperties.componentId}${suffixId}">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="card-body">
          <table class="table table-responsive">
            <thead>
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">View Source</th>
              <td><a href="${component.resource.path}.html?wcmmode=disabled" class="btn btn-primary" role="button"
                     target="_blank">View Source</a></td>
            </tr>
            <tr>
              <th scope="row">Resource Type</th>
              <td>${component.resource.resourceType}</td>
            </tr>
            <tr>
              <th scope="row">Resource Name</th>
              <td>${component.resource.name}</td>
            </tr>
            <tr>
              <th scope="row">Resource Path</th>
              <td>${component.resource.path}</td>
            </tr>
            <tr>
              <th scope="row">Inherited Path</th>
              <td>${componentProperties.inheritedResource.path}</td>
            </tr>

            <sly data-sly-list.myitem="${componentProperties}" data-sly-unwrap>
              <sly data-sly-test="${componentProperties[myitem]}">
                <tr>
                  <th scope="row">${myitem}</th>
                  <td>${componentProperties[myitem]}</td>
                </tr>
              </sly>
            </sly>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </sly>
</template>
